<h1 class="title">Cross To F2L</h1>
<h2 class="ritle">A tool to practice cross and transition to F2L</h2>
<span class="custom-dropdown">
    <select [ngModel]="minLevel" (ngModelChange)="onMinLevelChange($event)" onchange="this.blur();">
        <option *ngFor="let l of levels" [ngValue]="l">Level {{l}} – Cross requires {{l}} move{{l === 1 ? '' : 's'}} to solve </option>
    </select>
</span>
<span class="custom-dropdown">
    <select [(ngModel)]="maxLevel" onchange="this.blur();">
        <option *ngFor="let l of maxLevelOptions" [ngValue]="l">up to Level {{l}}</option>
    </select>
</span>
<span class="custom-dropdown">
    <select [(ngModel)]="trackingBand" onchange="this.blur();">
        <option *ngFor="let b of trackingBands" [ngValue]="b.value">{{b.label}}</option>
    </select>
</span>
<app-scramble [minLevel]="minLevel" [maxLevel]="maxLevel" [trackingBand]="trackingBand"></app-scramble>
