<ng-container>
    <div class="wrap">
        <a href="#" class="button home-link" (click)="newScramble()">Get Scramble</a>
    </div>
    <div class="outder">
        <h2 class="ritle">Scramble</h2>
        <div class="scramble" ID="Output" STYLE="font-family:Helvetica, Arial; font-size:30pt">
            <p>
                <label id="scrambleText">
            {{scramble}}
        </label>
            </p>
        </div>
        <p class="pair-message" *ngIf="message">{{message}}</p>
    </div>
    <div class="wrap">
        <a href="#" class="button home-link" (click)="toggleSolution()">
      {{ SolButtonText }}
    </a>
    </div>
    <div class="outder">
        <h2 class="ritle">Solution<ng-container *ngIf="solutionLevel"> (Level {{solutionLevel}})</ng-container></h2>
        <div class="scramble" ID="sol" STYLE="font-family:Helvetica, Arial; font-size:30pt">
            <p>
                <label id="solutionText">
          {{solution}}
        </label>
            </p>
        </div>
        <div class="pair-reveal" *ngIf="pairReveal.length">
            <h3 class="pair-reveal-title">First pair tracking</h3>
            <p *ngFor="let p of pairReveal" class="pair-row" [class.pair-recommended]="p.recommended">
                <span class="pair-name">{{p.colors}}</span>
                <span class="pair-verdict">{{p.verdict}}</span>
                <span class="pair-evidence">{{p.evidence}}</span>
            </p>
        </div>
    </div>
</ng-container>