a.home-link {
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;
}

.aligned {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aligned img {
    max-width: 100%;
    height: auto;
}

span {
    padding: 10px;
}
